@import "../../styles/variables";

.detailPage {
  display: flex;
  position: relative;
  height: 100%;
}

.main {
  width: 100%;
  background-color: $main-ivory;

  .location {
    height: 10%;
    padding: 30px 50px 30px 70px;

    p {
      padding-bottom: 24px;
      color: $main-grey;
      text-align: end;
    }

    button {
      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  .informations {
    display: flex;
    width: 100%;
    padding: 5% 0 7% 0;

    .productImage {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 60vw;
      .soldOut {
        display: flex;
        position: absolute;
        z-index: 2;
        align-items: center;
        justify-content: center;
        width: 475px;
        height: 500px;
        opacity: 70%;
        background-color: $main-grey;
        color: white;
        font-size: 37px;
      }
    }

    .productInfo {
      width: 40%;
    }
  }
}
